/* _typography.scss */

@font-face {
  font-family: "TT Hoves";
  src: url("../assets/fonts/tt_hoves_pro/TT%20Hoves%20Pro%20Trial%20Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves Bold";
  src: url("../assets/fonts/tt_hoves_pro/TT%20Hoves%20Pro%20Trial%20Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
